@font-face {
    font-family: 'Gilroy-Medium';
    src: url(../fonts/Gilroy/Gilroy-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url(../fonts/Gilroy/Gilroy-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy/stylesheet.css);
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy-Light';
    src: url(../fonts/Gilroy/Gilroy-Light.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url(../fonts/Gilroy/Gilroy-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url(../fonts/Gilroy/Gilroy-SemiBold.ttf);
    font-weight: normal;
    font-style: normal;
}



body {
    border: 1px solid black;

    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    font-family: 'Gilroy-Medium';
    text-decoration: none;
    size: 16px;
    color: black;
}

h2 {
    font-family: 'Gilroy-Medium';
    font-weight: 550;
    font-size: 38px;
}

h3 {
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    font-weight: 75;
    text-transform: uppercase;
    margin: 0;
}

h5 {
    margin: 0;
    font-family: 'Gilroy-Regular';
    font-size: 21px;
    font-weight: normal;
    color: gray;
}

h6 {
    margin: 0;
    font-family: 'Gilroy-Regular';
    font-size: 14px;
    font-weight: normal;
    color: gray;
}


p {
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    margin: 0;
}

button {
    margin-left: 10px;
    margin-right: 80px;
    color: white;
    background-color: black;
    width: auto;
    height: 56px;
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    font-weight: 90;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

button:active {
    opacity: 0.7;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 56px;
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    font-weight: 90;
    text-transform: uppercase;
    border: 1px solid black;
}

/*Шапка*/
.nav_list {
    display: grid;
    grid-template-columns: 0.25fr auto 0.25fr;
    margin: 0;
}

.nav_list div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nav_list a {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    outline: 1px solid black;
    width: 100%;
    height: 70px;

    /* Пока оставить как фичу */
    transition: background-color 0.3s;
}

.nav_list a:hover {
    background-color: black;
    color: white;
}

div .nav_elem:nth-child(odd) {
    margin-right: 1px;
}

/*Welcome секция*/
.welcome, .about_us, .advantages,  .contact_section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title goods"
                         "something goods";
}


.welcome_title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: title;
    width: auto;
    padding: 80px;
    border: 1px solid black;
    border-left: none;
    border-right: none;
}

.title {
    grid-column: span 2;
    width: auto;
    border-bottom: 1px solid black;
    margin-bottom: 2vw;
    
}

.title h1 {
    font-size: 67px;
    font-family: 'Gilroy-Medium';
    font-weight: 600;
    margin: 0;
}

.title p {
    margin-top: 32px;
    font-size: 18px;
    font-family: 'Gilroy-Regular';
    width: auto;
}

.title_hero {
    border-right: 1px solid black;
    
    /* padding-right: 24px; */
    padding-right: 2vw;
}

.title_hero_img {
    width: 100%;
    
}

.slogan {
    margin-top: auto;
    margin-bottom: 0;
    padding-left: 24px;
    width: auto;
    font-family: 'Gilroy-Regular';
    font-weight: 400;
    font-size: 14px;
}


.welcome_goods_types {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-area: goods;
    border: 1px solid black;
    box-sizing: border-box;
    border-bottom: none;
    border-right: none;
}


.welcome_goods_types img {
    width: 100%;
    height: 100%;
}

.welcome_goods_types > div {
    border-bottom: 1px solid black;
}


.welcome_goods_types div:nth-child(odd) {
    border-right: 1px solid black;
    box-sizing: border-box;
}




.welcome_something {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: something;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    font-family: 'Gilroy-Medium';
    font-size: 65px;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'Gilroy-Light';
    font-weight: 500;
    font-size: 38px;
}

.card a {
    font-size: 16px;
    font-family: 'Gilroy-Medium';
    font-weight: 600;
}

.card img {
    width: 24px;
    height: 24px;
    vertical-align:middle;
}

/*Секция ABOUT US*/

.about_us {
    width: auto;
    grid-template-rows: auto;
}

h4 {
    display: inline-block;
    height: 100px;
    font-family: 'Gilroy-Medium';
    font-weight: 600;
    font-size: 50px;
    margin-top: 80px;
    margin-left: 80px;
    
}

.about_us_description {
    border-left: 1px solid black;
    padding: 80px;
    
}

.about_us_description h2 {
    margin-top: 24px;
    margin-bottom: 16px;
}

.about_us_description p {
    
    line-height: 140%;
}

.about_us_description a {
    margin-top: 3vw;
    transition: background-color 0.3s;
    
}

.about_us_description a:hover {
    background-color: black;
    color: white;
}


/*Секция преимуществ*/

.advantages {
    border-top: 1px solid black;
    grid-template-rows: auto;
}

.advantages_list p {
    
    margin-top: 16px;
    line-height: 140%;
}

.advantages_list {
    display: grid;
    grid-template-rows: auto auto auto auto;
    margin: 0;
}

.advantages_list h2 {
    margin: 0;
}

.advantages_list li {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding: 80px;
}

.advantages_list li:last-child {
    border-bottom: none;
}


/*Секция для контактов*/

.contact_section {
    border-top: 1px solid black;
    grid-template-rows: auto;
}

.contact_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact_info h4 {
    margin: 0;
    height: auto;
    grid-column: span 2;
    margin-top: 80px;
    margin-left: 80px;
    
}

.contact_info p {
    margin-top: 30px;
    margin-left: 80px;
    grid-column: span 2;
}

.contact_input_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: span 2;
    margin-top: 16px;
    
}

.contact_input_container form {
    margin-left: 80px;
    margin-right: 30px;
    width: auto;
}

input {
    width: 100%;
    height: 50px;
    padding-left: 16px;
}

.contact_elem_title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid black;
}

.contacts h2 {
    margin: 0;
}

.contacts {
    display: grid;
    grid-column: span 2;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid black;
    margin-top: 100px;
}

.phones, .addresses {
    height: 280px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    font-family: 'Gilroy-SemiBold';
}

.phone:last-child, .address {
    margin-top: 24px;
}


.timetable {
    font-family: 'Gilroy-Medium';
    text-transform: uppercase;
    font-size: 14px;
}

.address, .phone {
    display: flex;
    align-items: center;
}

.contacts img {
    margin-right: 5px;
}

.contact_address {
    border-left: 1px solid black;
}

.contact_links {
    border-left: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact_links > img {
    grid-column: span 2;
    border-bottom: 1px solid black;
    width: 100%;
    height: 100%;
}

.follow_title {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;

}

.follow_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 56px;
    padding-right: 56px;
    border-left: 1px solid black;
    
    
}

.follow_links img {
    width: 24px;
    height: 24px;
}



/*Секция footer*/
.footer {
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    border-top: 1px solid black;
}


.footer_container {
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.footer_container li, .footer_container div {
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    font-weight: normal;
}

.footer_container:first-child {
    border-left: none
}

.email_block p{
    margin-top: 0;
}

.footer_container input,  .footer_container button{
    margin: 0;
    margin-top: 1.2em;
    width: auto;
}

.footer_nav_links {
    margin-top: 20px;
}

.footer_nav_links li {
    margin-bottom: 8px;
}


.footer_container .follow_links {
    padding: 0;
    border-left: none;
    margin-top: 24px;
}

.contact_point {
    margin-top: 24px;
}

.contact_point div {
    margin-top: 8px;
}

.about_us_block li {
    margin-bottom: 8px;
}



/*ДЛЯ СТРАНИЦЫ ПОКУПКИ ЦВЕТОВ*/
.shop_items {
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-auto-flow: dense;
    grid-gap: 1px;
    margin-top: 1px;
    margin-bottom: 0;
}


.flower_item {
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.big_item {
    grid-column: span 2;
    grid-row: span 2;
}


.flower_item img {
    width: 80%;
    padding-top: 1.5em;
}

.flower_item .item_title {
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    padding-top: 0.4em;
}

.flower_item .price_title {
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    color: grey;
    padding-top: 0.2em;
    padding-bottom: 1.5em;
}


/*Секция оформления покупки*/
.purchase_content {
    margin-top: 1px;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr 1fr;
}

.purchase_content img {
    width: 100%;
    height: auto;
}

.purchase_content > div, .purchase_content > img {
    outline: 1px solid black;
}

.purchase_container {
    padding: 3em 3em 3em 3em;
    
}

.enclosure {
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.enclosure span {
    color: gray;
}

.purchase_content p {
    margin-bottom: 24px;
}

.purchase_content h2 {
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Gilroy-Medium';
    font-size: 38px;

}

.you_may_also {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
    height: 10em;
}

.you_may_also h2 {
    margin: 0;
} 


.white_btn {
    background-color: white;
    color: black;
    outline: 1px solid black;
    width: 44px;
    height: 44px;
    margin: 0;

    /* Пока оставить как фичу */
    transition: background-color 0.3s;
}

.white_btn:hover {
    background-color: black;
    color: white;
}

.item_counter {
    height: 44px;
    width: 44px;
}

.item_counter:hover {
    background-color: white;
    color: black;
}

.quantity {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.quantity div {
    margin-left: 30px;
}

.purch_font {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
}

.purchase_container > button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    width: 100%;
    margin: 0;
}

.another_items_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: span 2;
    
}

.another_item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    border-left: 1px solid black;
    position: relative;

    transition: all 0.8s ease;
}

.another_item:first-child{
    border-left: none;
}


.another_item:hover {
    filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}



.item_signature {
    text-align: center;
    position: absolute;
    margin-bottom: 4%;
    justify-content: center;
    
}

.item_signature h6 {
    font-family: 'Gilroy-Medium';
    color: black;
    font-size: 16px;
    
}

.item_signature .item_signature_price {
    color: gray;
}







/*Каруселька*/
.card_list {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

ul.card_list {
    margin-bottom: 24px;
}

.purchase_card {
    margin-right: 1em;
}

.purchase_card:last-child {
    margin-right: 0;
}

.purchase_card img {
    width: 100%;
    height: 120px;
}

.card_item_name{
    color: black;
}

.card_list .carousel_btn:last-child {
    margin-right: 0;
    margin-left: 16px;
    background-color: white;
    padding: 0;
}

.card_list .carousel_btn:first-child {
    margin-right: 16px;
    margin-left: 0;
    background-color: white;
    padding: 0;
}

.carousel_btn > img {
    width: auto;
    height: auto;
}



/*Страница ОФОРМЛЕНИЯ ПОКУПКИ*/

.cart_main {
    display: grid;
    
    grid-template-columns: repeat(2, minmax(400px, 1fr)); 
    box-sizing: border-box;
    border-top: 1px solid black;
}

.purchase_header {
    display: inline-block;
    margin: 0;
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    text-transform: uppercase;
}

.non_active_h {
    color: lightgrey;
}

.purchase_header a span {
    margin-right: 8px;
    margin-left: 8px;
}


.purchase_registration {
    padding: 40px 30% 40px 80px;
}

.purchase_registration > div, .purchase_info > div {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    margin-top: 40px;
    padding-bottom: 24px;
    border-bottom: 1px solid grey;
}


.cart_main p {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    width: 100%;
}

.purchase_registration input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid lightgray;
}

.purchase_registration button {
    margin: 0;
    width: 100%;

}

.purchase_registration .hidden input, .purchase_registration .hidden button {
    display: none;
}

.purchase_registration .hidden > p {
    color: lightgrey;
}


.purchase_info {
    border-left: 1px solid black;
    background-color: #F5F5F7;
    padding: 40px 10%;
    
}

.purchase_info > div.purchase_info_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.purchase_info_paragraph {
    font-family: 'Gilroy-Regular';
    font-size: 16px;
}

.purchase_info_item_name {
    margin-bottom: 8px;
}

.purchase_info_item img{
    max-width: 160px;
    height: auto;
    border: 1px solid black;
    margin-right: 14px;
}

.purchase_info_item_price {
    margin-left: auto;
    font-family: 'Gilroy-Medium';
}

.gift_card {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
}

.gift_card input {
    box-sizing: border-box;
    border: 1px solid lightgray;
}

.gift_card button {
    margin: 0;
    height: auto;
    width: 100%;
}

.subtotal_results div {
    display: flex;
    margin-bottom: 16px;
}

.subtotal_results div > span, .purchase_info_total_price > span {
    margin-left: auto;
}

.purchase_info_total_price {
    display: flex;
    margin-top: 24px;
}


/*СТРАНИЦА РЕГИСТРАЦИИ/АВТОРИЗАЦИИ ПОЛЬЗОВАТЕЛЯ*/
.login, .profile {
    background-image: url(../../public/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid black;
}

.blur {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px); 
}

.login_section, .profile_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin-top: 7em;
    margin-bottom: 7em;
    padding-bottom: 5em;
    border: 1px solid black;  
    background-color: white;
}

.login_section p {
    margin: 0 4em;
    text-align: center;
}

.login_title {
    font-family: 'Gilroy-SemiBold';
    font-size: 50px;
}

#user_email_input, #user_password_input, #user_nickname_input{
    box-sizing: border-box;
    border: 1px solid grey;
    margin-top: 2em;
    width: 60%;
    font-size: 14px;
}

.login_section .black_btn, .profile_section .black_btn {
    margin: 0;
    margin-top: 1em;
    padding: 0;
    width: 100%;
}

.black_btn:active {
    opacity: 0.7;
}

.black_btn_form {
    width: 60%;
}

.login_section .login_link {
    margin-top: 2em;
    width: 60%;
    font-family: 'Gilroy-Medium';
    text-decoration-skip-ink: none;
    text-decoration: underline;
    text-align: center;
}

/*СТРАНИЦА ПРОФИЛЯ ПОЛЬЗОВАТЕЛЯ*/

.profile_title {
    font-family: 'Gilroy-SemiBold';
    font-size: 50px;
    text-align: center;
}

.user_data {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 4em;
}

.user_data div{
    font-family: 'Gilroy-Medium';
    font-size: 20px;
}

.profile_section h2 {
    margin: 0;
}

.profile_section p {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.order_title {
    margin-top: 3em;
}

.order_history {
    width: 60%;
}

.order_history img {
    width: 80%;
    height: 10vw;
    object-fit: cover;
}

.order_history .purchase_info_item {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    align-items: center;
}

.order_history .purchase_info_item_name {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    
}