<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" />
        {% if title %}
        <title> Lycorys_ - {{ title }}</title>
        {% else %}
        <title> Lycorys_ </title>
        {% endif %}
    </head>
    <body>
        {% block content -%}
        {% if title %}
        <h1> Lycorys_ - {{ title }}</h1>
        {% else %}
        <h1> Lycorys_ </h1>
        {% endif %}
        {% endblock -%}
    </body>
</html>