{% extends 'origin.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="/register" method="post" class="form-login">
    <p><label>Имя: </label><input type="text" name="name" value="" required /></p>
    <p><label>Почта: </label><input type="text" name="email" value="" required /></p>
    <p><label>Пароль: </label><input type="text" name="password" value="" required /></p>
    <p><label>Повторите пароль: </label><input type="text" name="password_check" value="" required /></p>
    <p><input type="submit" value="Регистрация"/></p>
</form>

{% endblock -%}